In [1]:
import pandas as pd

In [2]:
# read data 

emp_data = pd.read_excel("Capstone2022ExternalCollab.xlsx")
revenue_data = pd.read_excel("UWCapstone_Revenue_4.0.xlsx", sheet_name= "AnonDataFinal")
onshore_data = pd.read_excel("Onshore People.xlsx")
off_shore_data = pd.read_excel("OffshorePeople.xlsx")

In [3]:
revenue_data.nunique()

anon column                   1000
Industry                        30
Month                           33
First Month Flag                 2
% change                     28894
First Month $ SML                5
LT % Growth Flags                5
Top 25% Dollars Generated        3
dtype: int64

In [4]:
emp_data.nunique()

Person                                                    35793
Sales Role                                                   23
Location                                                      2
Account                                                    1296
Month                                                        33
employee_account_mail_time_with_customer                  97986
employee_acount_mail_count                                  334
employee_account_meeting_time_with_customer               26444
employee_account_meeting_count                              112
employee_account_internal_collaboration                  134815
employee_account_internal_collaboration_manager            2140
employee_account_internal_collaboration_two_attendees       364
employee_account_weekly_network_size_with_customer         2636
employee_account_monthly_network_size_with_customer        3003
dtype: int64

In [5]:
onshore_data.nunique()

Seller                                          22380
Month                                              33
Level                                               3
Multitasking_Meeting_hours_External              1633
Meeting_hours_during_working_hours_External      5534
Working_hours_email_hours_External             198603
After_hours_meeting_hours_External               3037
After_hours_email_hours_External                94503
Emails_sent_External                             1352
Email_hours_External                           310849
Meetings_External                                 501
Meeting_hours_External                           5495
Workweek_span                                  507288
Working_hours_email_hours                      309372
Working_hours_collaboration_hours              478428
Total_Focus_Hours                                9295
Total_emails_sent_during_meeting                 1011
Time_in_self_organized_meetings                  3010
Meeting_hours_during_working_hours               8561
Redundant_meeting_hours__organizational_         5236
Open_2_hour_blocks                                245
Open_1_hour_block                                 507
Networking_outside_organization                   171
Networking_outside_company                        272
Multitasking_Meeting_hours                       3033
Meetings_with_skip_level                          226
Meetings_with_manager_1_1                          70
Meetings_with_manager                             301
Meetings                                          668
Meeting_hours_with_skip_level                    1937
Meeting_hours_with_manager_1_1                 123125
Meeting_hours_with_manager                     201565
Meeting_hours                                    8242
Manager_coaching_hours_1_1                      56078
Low_quality_meeting_hours                        7932
Internal_network_size                             641
Generated_workload_meetings_organized             231
Generated_workload_meeting_hours                15288
Generated_workload_meeting_attendees             2815
Generated_workload_email_recipients              4848
Generated_workload_email_hours                 401762
External_network_size                             497
Emails_sent                                      2270
Email_hours                                    488495
Conflicting_meeting_hours                        5936
Collaboration_hours_external                   471733
Collaboration_hours                            548943
After_hours_meeting_hours                        4326
After_hours_email_hours                        193113
After_hours_collaboration_hours                313796
dtype: int64

In [6]:
off_shore_data.nunique()

Seller                                          19048
Month                                              33
Level                                               3
Multitasking_Meeting_hours_External              1474
Meeting_hours_during_working_hours_External      5281
Working_hours_email_hours_External             182299
After_hours_meeting_hours_External               3328
After_hours_email_hours_External               109100
Emails_sent_External                             1323
Email_hours_External                           302558
Meetings_External                                 396
Meeting_hours_External                           5317
Workweek_span                                  469526
Working_hours_email_hours                      276704
Working_hours_collaboration_hours              444279
Total_Focus_Hours                               10205
Total_emails_sent_during_meeting                  904
Time_in_self_organized_meetings                  3081
Meeting_hours_during_working_hours               8735
Redundant_meeting_hours__organizational_         5986
Open_2_hour_blocks                                254
Open_1_hour_block                                 528
Networking_outside_organization                   129
Networking_outside_company                        227
Multitasking_Meeting_hours                       2777
Meetings_with_skip_level                          178
Meetings_with_manager_1_1                          52
Meetings_with_manager                             332
Meetings                                          666
Meeting_hours_with_skip_level                    1992
Meeting_hours_with_manager_1_1                 118774
Meeting_hours_with_manager                     191294
Meeting_hours                                    8939
Manager_coaching_hours_1_1                      48499
Low_quality_meeting_hours                        8294
Internal_network_size                             493
Generated_workload_meetings_organized             239
Generated_workload_meeting_hours                13748
Generated_workload_meeting_attendees             2393
Generated_workload_email_recipients              4114
Generated_workload_email_hours                 368699
External_network_size                             469
Emails_sent                                      2040
Email_hours                                    447793
Conflicting_meeting_hours                        6102
Collaboration_hours_external                   438626
Collaboration_hours                            504272
After_hours_meeting_hours                        5770
After_hours_email_hours                        197416
After_hours_collaboration_hours                346142
dtype: int64

In [57]:
emp_data["Account "].nunique()

1296

In [58]:
revenue_data["anon column"].nunique()

1000

In [24]:
emp_data.columns

Index(['Person', 'Sales Role', 'Location', 'Account ', 'Month',
       'employee_account_mail_time_with_customer',
       'employee_acount_mail_count',
       'employee_account_meeting_time_with_customer',
       'employee_account_meeting_count',
       'employee_account_internal_collaboration',
       'employee_account_internal_collaboration_manager',
       'employee_account_internal_collaboration_two_attendees',
       'employee_account_weekly_network_size_with_customer',
       'employee_account_monthly_network_size_with_customer'],
      dtype='object')

In [20]:
revenue_data.head()

,anon column,Industry,Month,First Month Flag,% change,First Month $ SML,LT % Growth Flags,Top 25% Dollars Generated
0,40065,C,7,0,1.000000,S,Super High,Top 25%
1,40065,C,8,1,8.165329,S,Super High,Top 25%
2,40065,C,9,1,-0.795248,S,Super High,Top 25%
3,40065,C,10,1,3.238761,S,Super High,Top 25%
4,40065,C,11,1,-0.462965,S,Super High,Top 25%

In [22]:
print(emp_data.shape)
print(revenue_data.shape)

(483637, 14)
(30073, 8)

In [7]:
df1 = emp_data.merge(revenue_data, left_on = ["Account ","Month"], right_on= ["anon column","Month"], how = "left")
df1.shape

(483637, 21)

In [27]:
# Adding location to onshore offshore data to combine them into 1 data 
onshore_data["Location"] = "Onshore"
off_shore_data["Location"] = "Offshore"

In [28]:
df2 = onshore_data.append(off_shore_data)
df2.shape

(1165229, 51)

In [29]:
print(onshore_data.shape)
print(off_shore_data.shape)

(610243, 51)
(554986, 51)

In [8]:
df1.nunique()

Person                                                    35793
Sales Role                                                   23
Location                                                      2
Account                                                    1296
Month                                                        33
employee_account_mail_time_with_customer                  97986
employee_acount_mail_count                                  334
employee_account_meeting_time_with_customer               26444
employee_account_meeting_count                              112
employee_account_internal_collaboration                  134815
employee_account_internal_collaboration_manager            2140
employee_account_internal_collaboration_two_attendees       364
employee_account_weekly_network_size_with_customer         2636
employee_account_monthly_network_size_with_customer        3003
anon column                                                1000
Industry                                                     30
First Month Flag                                              2
% change                                                  26461
First Month $ SML                                             5
LT % Growth Flags                                             5
Top 25% Dollars Generated                                     3
dtype: int64

In [35]:
print(df1.shape)
483637 + 1165229

(483637, 21)

1648866

In [47]:
df1

,Person,Sales Role,Location,Account,Month,employee_account_mail_time_with_customer,employee_acount_mail_count,employee_account_meeting_time_with_customer,employee_account_meeting_count,employee_account_internal_collaboration,...,employee_account_internal_collaboration_two_attendees,employee_account_weekly_network_size_with_customer,employee_account_monthly_network_size_with_customer,anon column,Industry,First Month Flag,% change,First Month $ SML,LT % Growth Flags,Top 25% Dollars Generated
0,880001,19,Onshore,41235,2,0.00000,0,0.50000,1,0.50000,...,0.0,NaN,NaN,41235.0,J,1.0,0.025143,XS,Flat,Top 25%
1,880001,19,Onshore,41235,7,0.16667,1,0.00000,0,0.16667,...,0.0,NaN,NaN,41235.0,J,1.0,0.042666,XS,Flat,Top 25%
2,880001,19,Onshore,41235,9,0.20833,1,0.00000,0,0.20833,...,0.0,NaN,NaN,41235.0,J,1.0,-0.010022,XS,Flat,Top 25%
3,880001,19,Onshore,49815,20,0.00000,0,1.50000,1,1.50000,...,0.0,NaN,NaN,49815.0,L,1.0,-0.867930,XS,High,Bottom 25%
4,880002,4,Offshore,41235,3,0.12500,1,0.00000,0,0.12500,...,0.0,NaN,NaN,41235.0,J,1.0,0.007535,XS,Flat,Top 25%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483632,920983,20,Offshore,47825,16,0.13888,2,0.66668,4,0.80556,...,0.0,1.0,1.0,47825.0,AA,1.0,-0.049996,S,Flat,Bottom 25%
483633,920983,20,Offshore,47825,22,0.16666,1,0.50000,1,0.66666,...,0.0,NaN,NaN,47825.0,AA,1.0,0.818745,S,Flat,Bottom 25%
483634,920983,20,Offshore,47825,23,0.69920,4,0.00000,0,0.69920,...,0.0,4.0,4.0,47825.0,AA,1.0,0.151610,S,Flat,Bottom 25%
483635,920983,20,Offshore,47825,24,0.27776,2,0.37500,1,0.65276,...,0.0,NaN,NaN,47825.0,AA,1.0,18.382575,S,Flat,Bottom 25%
483636,920985,11,Offshore,41565,26,0.00000,0,1.93333,5,1.93333,...,0.0,NaN,NaN,41565.0,U,1.0,0.033527,S,Medium,Top 25%

In [64]:
df = df1.merge(df2.drop_duplicates(), left_on = ["Person","Month","Location"], right_on = ["Seller", "Month","Location"], how = "left")
df.shape

(484137, 70)

In [65]:
df

,Person,Sales Role,Location,Account,Month,employee_account_mail_time_with_customer,employee_acount_mail_count,employee_account_meeting_time_with_customer,employee_account_meeting_count,employee_account_internal_collaboration,...,Generated_workload_email_hours,External_network_size,Emails_sent,Email_hours,Conflicting_meeting_hours,Collaboration_hours_external,Collaboration_hours,After_hours_meeting_hours,After_hours_email_hours,After_hours_collaboration_hours
0,880001,19,Onshore,41235,2,0.00000,0,0.50000,1,0.50000,...,66.26708,12.0,491.0,60.34889,20.50000,16.19069,115.18222,1.50000,5.06750,6.56750
1,880001,19,Onshore,41235,7,0.16667,1,0.00000,0,0.16667,...,59.32875,19.0,458.0,52.42667,11.25000,28.50194,98.67667,0.00000,1.40222,1.40222
2,880001,19,Onshore,41235,9,0.20833,1,0.00000,0,0.20833,...,54.43653,6.0,353.0,51.05986,13.00000,20.56639,102.80986,3.25000,1.73833,4.98833
3,880001,19,Onshore,49815,20,0.00000,0,1.50000,1,1.50000,...,0.16667,3.0,2.0,1.29167,10.00000,12.16667,36.20833,4.00000,0.08333,4.08333
4,880002,4,Offshore,41235,3,0.12500,1,0.00000,0,0.12500,...,41.88861,18.0,220.0,36.94653,6.00000,8.34931,37.44653,0.00000,1.77222,1.77222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484132,920983,20,Offshore,47825,16,0.13888,2,0.66668,4,0.80556,...,68.44903,57.0,468.0,64.73153,36.91667,69.22417,161.31486,14.91667,6.29556,21.21222
484133,920983,20,Offshore,47825,22,0.16666,1,0.50000,1,0.66666,...,128.04403,124.0,736.0,68.42761,29.50000,100.40356,157.29765,11.83333,20.23917,36.98304
484134,920983,20,Offshore,47825,23,0.69920,4,0.00000,0,0.69920,...,107.65153,125.0,679.0,63.90469,24.75000,90.92436,155.54521,9.58333,19.27186,37.33055
484135,920983,20,Offshore,47825,24,0.27776,2,0.37500,1,0.65276,...,94.28472,104.0,544.0,54.13631,21.75000,80.99490,140.20665,9.41667,17.21825,34.63580
484136,920985,11,Offshore,41565,26,0.00000,0,1.93333,5,1.93333,...,13.76333,17.0,124.0,9.89403,33.00000,47.66760,88.63661,5.00000,1.46128,8.17850

In [66]:
# fill na with 0 

df = df.fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 484137 entries, 0 to 484136
Data columns (total 70 columns):
 #   Column                                                 Non-Null Count   Dtype
---  ------                                                 --------------   -----
 0   Person                                                 484137 non-null  int64
 1   Sales Role                                             484137 non-null  int64
 2   Location                                               484137 non-null  object
 3   Account                                                484137 non-null  int64
 4   Month                                                  484137 non-null  int64
 5   employee_account_mail_time_with_customer               484137 non-null  float64
 6   employee_acount_mail_count                             484137 non-null  int64
 7   employee_account_meeting_time_with_customer            484137 non-null  float64
 8   employee_account_meeting_count                         484137 non-null  int64
 9   employee_account_internal_collaboration                484137 non-null  float64
 10  employee_account_internal_collaboration_manager        484137 non-null  float64
 11  employee_account_internal_collaboration_two_attendees  484137 non-null  float64
 12  employee_account_weekly_network_size_with_customer     484137 non-null  float64
 13  employee_account_monthly_network_size_with_customer    484137 non-null  float64
 14  anon column                                            484137 non-null  float64
 15  Industry                                               484137 non-null  object
 16  First Month Flag                                       484137 non-null  float64
 17  % change                                               484137 non-null  float64
 18  First Month $ SML                                      484137 non-null  object
 19  LT % Growth Flags                                      484137 non-null  object
 20  Top 25% Dollars Generated                              484137 non-null  object
 21  Seller                                                 484137 non-null  float64
 22  Level                                                  484137 non-null  object
 23  Multitasking_Meeting_hours_External                    484137 non-null  float64
 24  Meeting_hours_during_working_hours_External            484137 non-null  float64
 25  Working_hours_email_hours_External                     484137 non-null  float64
 26  After_hours_meeting_hours_External                     484137 non-null  float64
 27  After_hours_email_hours_External                       484137 non-null  float64
 28  Emails_sent_External                                   484137 non-null  float64
 29  Email_hours_External                                   484137 non-null  float64
 30  Meetings_External                                      484137 non-null  float64
 31  Meeting_hours_External                                 484137 non-null  float64
 32  Workweek_span                                          484137 non-null  float64
 33  Working_hours_email_hours                              484137 non-null  float64
 34  Working_hours_collaboration_hours                      484137 non-null  float64
 35  Total_Focus_Hours                                      484137 non-null  float64
 36  Total_emails_sent_during_meeting                       484137 non-null  float64
 37  Time_in_self_organized_meetings                        484137 non-null  float64
 38  Meeting_hours_during_working_hours                     484137 non-null  float64
 39  Redundant_meeting_hours__organizational_               484137 non-null  float64
 40  Open_2_hour_blocks                                     484137 non-null  float64
 41  Open_1_hour_block                                      484137 non-null  float64
 42  Networking_outside_organization                        484137 non-null  float64
 43  Networking_outside_company                             484137 non-null  float64
 44  Multitasking_Meeting_hours                             484137 non-null  float64
 45  Meetings_with_skip_level                               484137 non-null  float64
 46  Meetings_with_manager_1_1                              484137 non-null  float64
 47  Meetings_with_manager                                  484137 non-null  float64
 48  Meetings                                               484137 non-null  float64
 49  Meeting_hours_with_skip_level                          484137 non-null  float64
 50  Meeting_hours_with_manager_1_1                         484137 non-null  float64
 51  Meeting_hours_with_manager                             484137 non-null  float64
 52  Meeting_hours                                          484137 non-null  float64
 53  Manager_coaching_hours_1_1                             484137 non-null  float64
 54  Low_quality_meeting_hours                              484137 non-null  float64
 55  Internal_network_size                                  484137 non-null  float64
 56  Generated_workload_meetings_organized                  484137 non-null  float64
 57  Generated_workload_meeting_hours                       484137 non-null  float64
 58  Generated_workload_meeting_attendees                   484137 non-null  float64
 59  Generated_workload_email_recipients                    484137 non-null  float64
 60  Generated_workload_email_hours                         484137 non-null  float64
 61  External_network_size                                  484137 non-null  float64
 62  Emails_sent                                            484137 non-null  float64
 63  Email_hours                                            484137 non-null  float64
 64  Conflicting_meeting_hours                              484137 non-null  float64
 65  Collaboration_hours_external                           484137 non-null  float64
 66  Collaboration_hours                                    484137 non-null  float64
 67  After_hours_meeting_hours                              484137 non-null  float64
 68  After_hours_email_hours                                484137 non-null  float64
 69  After_hours_collaboration_hours                        484137 non-null  float64
dtypes: float64(58), int64(6), object(6)
memory usage: 262.3+ MB

In [59]:
rfm = pd.read_csv("RFM.csv")
rfm

     anon column  recency  frequency     monetary         M rfm_score
0          40065        0         26   434.267000  non-core  Non Core
1          40075        0         32    25.307974  inactive  Non Core
2          40085        0         32    60.171976  non-core  Non Core
3          40095        0         31  6123.228372      core      Core
4          40105        0         31   204.140529  non-core  Non Core
..           ...      ...        ...          ...       ...       ...
994        50015        0         32     0.000000  inactive  Non Core
995        50025        0         32    81.396196  non-core  Non Core
996        50035        0         32   557.448810  non-core  Non Core
997        50045        0         28  4965.109766      core  Non Core
998        50055        0         30    57.629538  non-core  Non Core

[999 rows x 6 columns]

In [60]:
df.shape

(484137, 70)

In [61]:
rfm_d = rfm[["anon column","M","rfm_score"]]

In [67]:
df = df.merge(rfm_d, left_on = ["anon column"], right_on = ["anon column"], how = 'left')
df

,Person,Sales Role,Location,Account,Month,employee_account_mail_time_with_customer,employee_acount_mail_count,employee_account_meeting_time_with_customer,employee_account_meeting_count,employee_account_internal_collaboration,...,Emails_sent,Email_hours,Conflicting_meeting_hours,Collaboration_hours_external,Collaboration_hours,After_hours_meeting_hours,After_hours_email_hours,After_hours_collaboration_hours,M,rfm_score
0,880001,19,Onshore,41235,2,0.00000,0,0.50000,1,0.50000,...,491.0,60.34889,20.50000,16.19069,115.18222,1.50000,5.06750,6.56750,non-core,Non Core
1,880001,19,Onshore,41235,7,0.16667,1,0.00000,0,0.16667,...,458.0,52.42667,11.25000,28.50194,98.67667,0.00000,1.40222,1.40222,non-core,Non Core
2,880001,19,Onshore,41235,9,0.20833,1,0.00000,0,0.20833,...,353.0,51.05986,13.00000,20.56639,102.80986,3.25000,1.73833,4.98833,non-core,Non Core
3,880001,19,Onshore,49815,20,0.00000,0,1.50000,1,1.50000,...,2.0,1.29167,10.00000,12.16667,36.20833,4.00000,0.08333,4.08333,non-core,Non Core
4,880002,4,Offshore,41235,3,0.12500,1,0.00000,0,0.12500,...,220.0,36.94653,6.00000,8.34931,37.44653,0.00000,1.77222,1.77222,non-core,Non Core
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484132,920983,20,Offshore,47825,16,0.13888,2,0.66668,4,0.80556,...,468.0,64.73153,36.91667,69.22417,161.31486,14.91667,6.29556,21.21222,inactive,Non Core
484133,920983,20,Offshore,47825,22,0.16666,1,0.50000,1,0.66666,...,736.0,68.42761,29.50000,100.40356,157.29765,11.83333,20.23917,36.98304,inactive,Non Core
484134,920983,20,Offshore,47825,23,0.69920,4,0.00000,0,0.69920,...,679.0,63.90469,24.75000,90.92436,155.54521,9.58333,19.27186,37.33055,inactive,Non Core
484135,920983,20,Offshore,47825,24,0.27776,2,0.37500,1,0.65276,...,544.0,54.13631,21.75000,80.99490,140.20665,9.41667,17.21825,34.63580,inactive,Non Core
484136,920985,11,Offshore,41565,26,0.00000,0,1.93333,5,1.93333,...,124.0,9.89403,33.00000,47.66760,88.63661,5.00000,1.46128,8.17850,non-core,Non Core

In [68]:
df.to_csv("FinalAdsv1.csv", index = False)

In [55]:
revenue_data.head()

,anon column,Industry,Month,First Month Flag,% change,First Month $ SML,LT % Growth Flags,Top 25% Dollars Generated
0,40065,C,7,0,1.000000,S,Super High,Top 25%
1,40065,C,8,1,8.165329,S,Super High,Top 25%
2,40065,C,9,1,-0.795248,S,Super High,Top 25%
3,40065,C,10,1,3.238761,S,Super High,Top 25%
4,40065,C,11,1,-0.462965,S,Super High,Top 25%